<div data-controller="create-house" >
    <%= simple_form_for @house,
        html: { data: {create_house_target: "form",
        action: "submit->create-house#createHouse"}} do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :capacity %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Save house", class: "btn btn-flat" %>
    <% end %>
</div>
