
<div class="container" data-controller="create-house" style="background: #60D3AB; height:100vh;" >

  <div class="title">Your New House</div>
    <%= simple_form_for @house do |f|%>
      <%= f.input :name ,
          input_html: { class: "form-input" },
          placeholder: "House nickname *",
          label:false%>
      <%= f.input :address,
          input_html: { class: "form-input-address"},
          placeholder: "House address *",
          label: false %>
      <%= f.input :capacity,
          input_html: { class: "form-input" },
          placeholder: "Tenant capacity",
          label: false %>
      <%= f.input :photo, as: :file,
          input_html: { class: "form-input" },
          placeholder: "pic",
          label: false %>
      <%= f.submit "Save house", class: "btn btn-flat w-75" %>
    <% end %>
</div>
