<div class="", style="background:#60D3AB" data-controller="create-room">
  <div class="">
    <h1 class="title p-3"><%= @house.name %></h1>
    <h4 class="smalltext address px-3"><%= @house.address %></h4>


    <%# picture %>
    <% if @house.photo.attached? %>
      <div class="show-house-image text-center mb-3">
        <%= cl_image_tag @house.photo.key, :crop=>"fill"%>
      </div>
    <% end %>

  </div>

  <%# JS target  and rooms form%>
  <div data-create-room-target="list">
    <h4 class="smalltext px-3">Rented rooms: <%= @house.rooms.count %>/ <span><%= @house.capacity %></span></h4>
    <%= link_to "Rent a room", new_house_room_path(house), data: { action: "click->create-room#displayForm" } %>
    <div data-create-room-target="formContainer" class="d-none">
      <div><%= render "formRoom", house: house, room: room %></div>
    </div>



    <h5 class="list_title">Tickets</h5>

    <%# check there are rooms - a não ser que não haja rooms corre isto %>
    <% unless @room.nil?  %>

      <% house.rooms.each do |room| %>
        <div class="list-group list-group-flush" style= "border-color: #E0702D">

          <%# display tickets of each room %>
          <% room.tickets.each do |ticket| %>
            <% if ticket.status != "Fixed" %>
              <%= link_to ticket_path(ticket), class:"list-group-item list-group-item-action flex-column align-items-start bg-our-back-green", style:"border-color: #E0702D" do %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 mt-2"><strong><%= ticket.title %></strong></h5>
                  <small class="mb-1 mt-2 status-pills status-owner-<%= ticket.status.split(" ").join.downcase %> "><%= ticket.status%></small>
                </div>
                <p class="mb-1"><%=ticket.description %></p>
              <% end %>

            <% end %>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>


<div class="btn-group dropup">
 <button type="button" class="float dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-pencil my-float-edit"></i>
  </button>

  <ul class="dropdown-menu">
    <li>
      <%= link_to edit_house_path(house), class:"dropdown-item" do %>
      <p>Edit house details</p>
      <% end %>
    </li>

    <li>
      <%= link_to house_path(house), class:"dropdown-item", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <p>Delete this house</p>
      <% end %>
    </li>

    <li>
      <%= link_to ownerhistory_path(house), class:"dropdown-item" do %>
      <p>Solved tickets</p>
      <% end %>
    </li>




  </ul>
</div>


  <%# <div class="btn-group dropup">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-pencil my-float-edit"></i>
    </button>
    <div class="dropdown-menu"> %>
      <!-- Dropdown menu links -->
        <%# <button class="dropdown-item" type="button">Action</button> %>


      <%# <%= link_to edit_house_path(house) do %>
        <%# <i class="fa-solid fa-pencil my-float-edit"></i> %>
      <%# <% end %>

    </div>
</div>





</div>
