<div class="container">
  <h1>My Houses</h1>
  <% @houses.each do |house| %>

      <%= link_to house_path(house) do %>

        <%= render "houses/houseCard", house: house %>

      <% end %>


    <%# <div class="card"> %>
      <%# House card %>
      <%# <%= link_to house_path(house) do %>

        <%# <% if house.photo.attached? %>
          <%# <%= cl_image_tag house.photo.key, height: 300, width: 400, crop: :fill %>
        <%# <% end %>

        <%# <div class="house-infos p-3"> %>
          <%# <h2><%= house.name.capitalize %></h2>
          <%# <p><%= house.address.capitalize %></p>
          <%# <% number_tickets = 0 %>
          <%# <% house.rooms.each do |room| %>
            <%# <% number_tickets += room.tickets.count %>
          <%# <% end %>
          <%# <p>tickets: <%= number_tickets %></p>
        <%# </div> %>

      <%# <% end %>

    <%# </div> %>

  <% end %>

  <%= link_to new_house_path, class: "float" do %>
    <i class="fa fa-plus my-float"></i>
  <% end %>


</div>
