<div class="container">
  <h1>My Houses</h1>
  <% @houses.each do |house| %>

    <div class="card">
      <%# House card %>
      <%= link_to house_path(house) do %>

        <% if house.photo.attached? %>
          <%= cl_image_tag house.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>

        <div class="house-infos p-3">
          <h2><%= house.name.capitalize %></h2>
          <p><%= house.address.capitalize %></p>
        </div>

      <% end %>

    </div>

  <% end %>

 <%# <%= render partial: 'ticket' %> 
</div>
