<div class="navWrapper">

  <nav class="nav--icons text-center">
    <ul>

    <% if user_signed_in? %>

      <li>
        <%= link_to dashboard_path, class: "myNavlink" do %>
          <%= image_tag("home.svg", alt: "home icon", width: 30, height: 30) %>
          <span>Home</span>
        <% end %>
      </li>

      <li class="nav-item dropdown">
          <a href="#" class="myNavlink avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("profile.svg", alt: "home icon", width: 30, height: 30) %>
            <span>Profile</span>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
      </li>

    <% else %>

      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>



    </ul>
  </nav>

</div>
