<div class="wrapper">
  <%# the two buttons to change view %>
  <ul class="nav nav-tabs" style="border: none !important" id="myTab" role="tablist">
    <li class="nav-item user-select bg-our-back-green no-border" style="border: none !important" role="presentation">
      <a class="nav-link bg-our-back-green active no-border" style="border: none !important" id="owner-tab" data-bs-toggle="tab" href="#owner" role="tab" aria-controls="owner" aria-selected="true">Owner</a>
    </li>
    <li class="nav-item user-select bg-our-back-orange" style="border: none !important" role="presentation">
      <a class="nav-link bg-our-back-orange" style="border: none !important" id="tenant-tab" data-bs-toggle="tab" href="#tenant" role="tab" aria-controls="tenant" aria-selected="false">Tenant</a>
    </li>
  </ul>

  <%# what happens when you click on the tab%>
  <%# Tab contents %>
  <div class="tab-content no-border">
    <%# --- search bar %>
    <div class="tab-pane fade bg-our-back-green show active" style="height: 100vh" id="owner" role="tabpanel" aria-labelledby="owner-tab">
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: dashboard_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search for a house!"
              %>

            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <%# owner view %>

      <%= render "houses/houseList" %>
    </div>



    <%# --- tenant view %>
    <div class="tab-pane fade bg-our-back-orange" style="height: 100vh" id="tenant" role="tabpanel" aria-labelledby="tenant-tab">
      <% unless current_user.room.nil? %>
        <%# render the search bar here - update: no need for it now, only on owner and history %>

        <%# address %>
        <p><%= current_user.room.house.address %></p>

        <%# toggle the form via button %>
        <div data-controller="toggle" class="d-flex align-items-center" id="togglecontroller">
          <button data-action="click->toggle#fire" data-toggle-target="button" class="btn add-ticket_btn m-5">
            <div class="add-ticket-plus_btn">
              <i class="fa-solid fa-plus"></i>
            </div>Submit a ticket</button>

          <div data-toggle-target="togglableElement" class="d-none">
            <%# render new ticket form: %>
            <%= render 'tickets/newTicket', ticket: @ticket %>
          </div>
        </div>

        <div class="m-4">
          <%# render tickets list %>
          <%= render "tickets/bootstrapTicketsList", tickets: @tickets %>
        </div>
      <% else %>
        <p>You have not been assigned to a room yet</p>
      <% end %>
    </div>
  </div>
</div>
