<%# overalll page %>

<div class = "bg-our-back-orange" style="height: 100vh">


  <% if @tickets.any? { |ticket| ticket.status == "Fixed" } %>
    <div class="list_title" style="margin-bottom: 30px; padding-top: 30px; text-align: center;">History of tickets for room <%= @room.number %></div>

    <% unless @room.nil? %>

      <%# search bar for history %>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: tenanthistory_path, method: :get, class: "p-4 d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search for a ticket!"
              %>

            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="list-group list-group-flush" style="border-color: #E0702D">

        <%# List of old tickets %>
        <% @tickets.each do |ticket| %>
          <% if ticket.status == "Fixed" %>
            <%= link_to ticket_path(ticket), class: "list-group-item list-group-item-action flex-column align-items-start bg-our-back-orange", style: "border-color: #E0702D" do %>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 mt-2"><strong><%= ticket.title %></strong></h5>
                <small class="mb-1 mt-2 status-pills status-tenant-<%= ticket.status.split(" ").join.downcase %> "><%= ticket.status %></small>
              </div>
              <p class="mb-1"><%= ticket.description %></p>
            <% end %>
          <% end %>
        <% end %>

    <% else %>
      <p style="text-align: center">There are no past solved tickets</p>
    <% end %>

  <% end %>

</div>
</div>
