<div class="list-group list-group-flush bg-transparent">

  <% unless @room.nil? %>


    <% @room.tickets.each do |ticket| %>

      <%= link_to ticket_path(ticket), class:"list-group-item list-group-item-action flex-column align-items-start" do %>

        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><strong><%= ticket.title %></strong></h5>
          <small class=".renter_status_pills renter_pending_pills"><%= ticket.status %></small>
        </div>
        <p class="mb-1"><%=ticket.description %></p>

      <% end %>
      <%# cancel ticket in the ticket show %>
      <%# <%= button_to 'Cancel ticket', ticket_path(ticket), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-warning' %>

    <% end %>


  <% else %>
    <h2>There are no tickets yet</h2>
  <% end %>

</div>
