<div class="container">
  <% @room.tickets.each do |ticket| %>
    <div class="ticket">
        <strong>Title:<%= link_to "#{ticket.title}", ticket_path(ticket)%></strong>
        <strong>Description:</strong> <%=ticket.description %>
        <strong>Status:</strong> <%= ticket.status %>
        <strong>Priority:</strong> <%=ticket.priority %>

        <%= button_to 'Delete', ticket_path(ticket), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      </div>
  <% end %>
</div>
