<div class="container ">
  <div class="p-5">
    <%# <h3 class="">Tickets</h3> %>
    <%= simple_form_for [@room,@ticket] do |f| %>

      <div class="mt-4">
        <%= f.input :title, as: :string %>
      </div>

      <div class="mt-8">
        <%= f.input :description, as: :string %>
      </div>

      <div class="mt-4">
        <%= f.input :priority, collection: ["Low", "Medium", "High"] %>
      </div>

      <div class="mt-4">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>

      <div class="row">
        <div class="mt-4 mb-6 d-flex align-items-center justify-content-around">
          <%= f.submit "Send ticket", class: "Mbtn-flat" %>
          <%= link_to "Cancel", dashboard_path %>
        </div>
      </div>


      <% end %>
  </div>
</div>
