<div class="container p-3">

  <p><%= current_user.room.house.address %></p>
  <div class="title"><%= @ticket.title %></div>
  <small class="mb-1 mt-2 status-pills status-tenant-<%= @ticket.status.split(" ").join.downcase %> ">
    <%= @ticket.status%>
  </small>
  <p> Room <%= @ticket.room.number%></p>
   <p> Issuer:  <%= @ticket.room.user.last_name%></p>




  <p><%= @ticket.description %></p>
  <p><%= @ticket.priority%></p>


    <% if current_user.id != @ticket.room.user_id %>

    <% if @ticket.photos.attached? %>
      <%  @ticket.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 300, crop: :fill %>
        <% end %>
      <% end %>
    <% end %>


 <%# ticket chat %>

  <div class="container chat"
  data-controller="ticket-subscription"
  data-ticket-subscription-ticket-id-value="<%= @ticket.id %>">

    <div class="messages" data-ticket-subscription-target="messages">
      <% @ticket.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%# you can only write a new message if the status hasn't been changed to fixed, but you can see all pas messages %>
    <% if @ticket.status != "Fixed" %>

      <%= simple_form_for [@ticket, @message],
      html: { data: { action: "turbo:submit-end->ticket-subscription#resetForm" }, class: "d-flex" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message",
          wrapper_html: {class: "flex-grow-1"}
        %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>

    <% end %>

  </div>





  <%# <%= render "messages/message" %>

</div>
