<div class="container p-3">

  <p><%= @house.address %></p>
  <div class="ticket-title mb-5"><%= @ticket.title %></div>

    <% if current_user.id != @ticket.room.user_id %>
<%# Use a form to submit changes STATUS to the server %>
    <%= form_with(model: @ticket, url: ticket_path(@ticket), local: true, method: :patch) do |form| %>
      <div class="editable-field d-flex justify-content-center mt-5">
        <button class="status-pills pill-margin status-owner-<%= @ticket.status.split(" ").join.downcase %> d-flex justify-content-center mt-5"><%= @ticket.status %>

        <% if @ticket.status == 'Pending' %>
          <%= form.hidden_field :status, value: 'Ongoing' %>
        <% elsif @ticket.status == 'Ongoing' %>
          <%= form.hidden_field :status, value: 'Fixed' %>
        <% else %>
          <%= form.hidden_field :status, value: 'Pending' %>
        <% end %>
        </button>
      </div>
    <% end %>
    <% else %>
        <p class="status-pills pill-margin status-owner-<%= @ticket.status.split(" ").join.downcase %>"><%= @ticket.status%></p>
    <% end %>



    <div class="paragraph-container">
    <div> Room <%= @ticket.room.number%> </div>
      <div> Issuer: Mr./ Ms. <%= @ticket.room.user.last_name%></div>
    </div>

<div >
   <i class="ticket-date"><%= @ticket.created_at.strftime("%d.%m.%Y") %></i>
  <div class="description-box"><%= @ticket.description %></div>
  <div class="priority-field" id="priority"> Priority:<span><%= @ticket.priority%></span></div>


    <% if @ticket.photos.attached? %>
    <span class= attachment>Attachments: </span>
      <div class="grid">
        <%  @ticket.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 300, crop: :fill %>
        <% end %>
      </div>
    <% end %>




 <%# ticket chat %>

  <div class="chat-container"
  data-controller="ticket-subscription"
  data-ticket-subscription-ticket-id-value="<%= @ticket.id %>">

    <div class="messages" data-ticket-subscription-target="messages">
      <% @ticket.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%# you can only write a new message if the status hasn't been changed to fixed, but you can see all pas messages %>
    <% if @ticket.status != "Fixed" %>

      <%= simple_form_for [@ticket, @message],
      html: { data: { action: "turbo:submit-end->ticket-subscription#resetForm" }, class: "message-box" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message",
          wrapper_html: {class: "flex-grow-1"}
        %>

      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>

    <% end %>

  </div>

  <%# <%= render "messages/message" %>

</div>
