<div class="container">


  <div class="ticket-title m-4 ">
    <div class="">
      <%= @ticket.title %>
    </div>

    <p class="address"><%= @house.address %></p>
  </div>

  <div class= ticket-box-container>

         <!-- Bootstrap Carousel -->

    <% if @ticket.photos.attached? %>
      <div id="carouselExampleIndicators" class="carousel slide mt-3" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @ticket.photos.each_with_index do |photo, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <%= 'class="active"' if index.zero? %>></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @ticket.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= cl_image_tag(photo.key, class: 'd-block w-75') %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>


   <div class="paragraph-container">
      <div class="w-100 d-flex align-items-center justify-content-between">
        <div> Room <%= @ticket.room.number %></div>

        <!-- "Pending" button -->

        <% if current_user.id != @ticket.room.user_id %>
          <%= form_with(model: @ticket, url: ticket_path(@ticket), local: true, method: :patch) do |form| %>
            <div class="editable-field d-flex justify-content-center mt-5">
              <button class=" status-pills  status-owner-<%= @ticket.status.split(" ").join.downcase %> d-flex justify-content-center mt-5">
                <%= @ticket.status %>

              <% if @ticket.status == 'Pending' %>
                <%= form.hidden_field :status, value: 'Ongoing' %>

              <% elsif @ticket.status == 'Ongoing' %>
                <%= form.hidden_field :status, value: 'Fixed' %>

              <% else %>
                <%= form.hidden_field :status, value: 'Pending' %>
              <% end %>
              </button>
            </div>
          <% end %>
         <% else %>
          <p class="status-pills  status-owner-<%= @ticket.status.split(" ").join.downcase %>"><%= @ticket.status%></p>
         <% end %>

      </div>
      <div id="Issuer" class="mb-2">
        Issuer: Mr./ Ms. <%= @ticket.room.user.last_name %>
      </div>
      <div class="date-prio mb-2 d-flex justify-content-between ">
        <i class=""><%= @ticket.created_at.strftime("%d.%m.%Y") %></i>
        <div class="priority-field" id="priority">
          Priority: <span> <%= @ticket.priority %></span>
        </div>
      </div>

    </div>

    <div class="description-box">
      <%= @ticket.description %>
    </div>

  </div>
  </div>

 <%# ticket chat %>

  <div class="chat-container"
  data-controller="ticket-subscription"
  data-ticket-subscription-ticket-id-value="<%= @ticket.id %>">

    <div class="messages" data-ticket-subscription-target="messages">
      <% @ticket.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%# you can only write a new message if the status hasn't been changed to fixed, but you can see all pas messages %>
    <% if @ticket.status != "Fixed" %>

      <%= simple_form_for [@ticket, @message],
      html: { data: { action: "turbo:submit-end->ticket-subscription#resetForm" }, class: "message-box" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message",
          wrapper_html: {class: "flex-grow-1"}
        %>

      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>

    <% end %>

  </div>

  <%# <%= render "messages/message" %>

</div>
