<div class="container p-3 m-5">

  <h2><%= @ticket.title %></h2>
  <p><%= @ticket.description %></p>
  <p><%= @ticket.priority%></p>


    <% if current_user.id != @ticket.room.user_id %>
    <%# Use a form to submit changes STATUS to the server %>
    <%= form_with(model: @ticket, url: ticket_path(@ticket), local: true, method: :patch) do |form| %>
      <div class="editable-field">
        <button class="renter_status_pills renter_pending_pills"><%= @ticket.status %></button>

        <% if @ticket.status == 'Pending' %>
          <%= form.hidden_field :status, value: 'Ongoing' %>

        <% elsif @ticket.status == 'Ongoing' %>
          <%= form.hidden_field :status, value: 'Fixed' %>

        <% else %>
          <%= form.hidden_field :status, value: 'Pending' %>
        <% end %>

      </div>
    <% end %>
    <% else %>
      <p><%= @ticket.status%></p>
    <% end %>

    <% if @ticket.photos.attached? %>
      <%  @ticket.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 300, crop: :fill %>
      <% end %>
    <% end %>

 <%# ticket chat %>


  <div class="container chat"
  data-controller="ticket-subscription"
  data-ticket-subscription-ticket-id-value="<%= @ticket.id %>">

  <div class="messages" data-ticket-subscription-target="messages">
    <% @ticket.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
  </div>

  <%= simple_form_for [@ticket, @message],
  html: { data: { action: "turbo:submit-end->ticket-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>





  <%# <%= render "messages/message" %>

</div>
